<div id = 'mainContainer'>
	<%= link_to 'New article', new_article_path %> <br />

	
	<div id = 'jumbotron' class = 'freightHeavy'>
		<p>BROGRAMMER</p>
	</div>
		<h3 id = 'tagLine'>Live from silicon beach.</h3>


	<div id = 'articleContainer'>
		<!-- <table> -->
			<!-- <tr>
				<th>Title</th>
				<th>Text</th>
				<th colspan="2"></th>
			</tr> -->
		
	<% @articles.each do |article| %>
		
			<div id = titleDiv>
				<p id = 'articleTitle' class = 'freight'><%= article.title %></p>
			</div>
			<div id = articleDiv>
				<p id = 'articleText' class = 'proxima'><%= article.text %></p>
			</div>
			<li><%= link_to 'Show', article_path(article) %></li>
			<li><%= link_to 'Edit', edit_article_path(article) %></li>
			<li><%= link_to 'Destroy', article_path(article), method: :delete, data: {  confirm: 'Are you sure you want to delete this post?'}  %>
			</li>
			
		<!-- </tr> -->
	<% end %>
	<!-- </table> -->
	</div> <!-- article container div -->
</div> <!-- main container div	 -->