<div id = 'mainContainer'>
	<%= link_to 'New article', new_article_path %> <br />

	
	<div id = 'jumbotron' class = 'abril'>
		<p>Brogrammer</p>
	</div>


	<div id = 'articleContainer'>
		<!-- <table> -->
			<!-- <tr>
				<th>Title</th>
				<th>Text</th>
				<th colspan="2"></th>
			</tr> -->

	<% @articles.each do |article| %>
		<!-- <tr> -->
			<div id = titleDiv>
				<li class = 'abril'><%= article.title %></li>
			</div>
			<div id = articleDiv>
				<li class = 'abril'><%= article.text %></li>
			</div>
			<li><%= link_to 'Show', article_path(article) %></li>
			<li><%= link_to 'Edit', edit_article_path(article) %></li>
			<li><%= link_to 'Destroy', article_path(article), method: :delete, data: {  confirm: 'Are you sure you want to delete this post?'}  %>
			</li>
			
		<!-- </tr> -->
	<% end %>
	<!-- </table> -->
	</div> <!-- article container div -->
</div> <!-- main container div	 -->